.movies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #FAFAFA;;
}

.movies__route {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}