.container__portfolio {
    margin: 0;
    padding: 100px 70px 90px;
    width: 100%;
    box-sizing: border-box;
    background: #FAFAFA;
}

.portfolio__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;
}

.tittle__portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding-bottom: 16px;
}

.subtittle__portfolio {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 20px;
}

.text__portfolio {
    width: 100%;
    max-width: 364px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 87px;
}

.github__portfolio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.github__portfolio:hover {
    transition: all 0.5s ease;
    opacity: 0.4;
}

.portfolioPhoto {
    width: 255px;
    height: 307px;
    object-fit: cover;
    border-radius: 10px;
}

.subtittle__transparent {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
    padding-bottom: 50px;
}

.default__linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 1023px) {
    .container__portfolio {
        padding: 100px 50px 90px;
    }
}

@media (max-width: 580px) {
    .container__portfolio {
        padding: 70px 14px;
    }
    .portfolio__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-flow: column-reverse;
        padding-bottom: 70px;
    }
    .portfolioPhoto {
        width: 292px;
        height: 352px;
        margin-bottom: 40px;
    }
    .tittle__portfolio {
        font-size: 30px;
        line-height: 36px;
    }
    .subtittle__portfolio {
        font-size: 11px;
        line-height: 16px;
    }
    .text__portfolio {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 40px;
    }
    .subtittle__transparent {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 40px;
    }
}
