.searchForm__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 80px 70px 10px 70px;
}

.searchForm__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px 28px 0;
    position: relative;
}

.searchForm__input {
    background: #F4F4F4;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin-right: 10px;
    padding-left: 30px;
    border: none;
    font-style: normal;

}

.searchForm__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
}

.searchForm__submitButton {
    padding: 0;
    max-width: 44px;
    width: 100%;
    height: 44px;
    background: #3456F3;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-image: url(../../images/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.searchForm__submitButton_disabled {
    background: grey;
    background-image: url(../../images/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.searchForm__submitButton:hover {
    transition: all 0.5s ease;
    opacity: 0.8;
}

.searchform__line {
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin: 40px 0 0;
}

.keyword_error {
    color: #3456F3;
    display: none;
    position: absolute;
    top: 80px;
    left: 30px;
}

.keyword_error_visible {
    display: block;
}

@media (max-width: 1023px) {
    .searchForm__form {
        padding: 80px 30px 10px 30px;
    }
}

@media (max-width: 767px) {
    .keyword_error {
        font-size: 11px;
        top: 60px;

    }
}