.container_portfolioLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tittle_portfolioLink {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    text-align: left;
    margin: 0;
    padding-bottom: 19px;
}

.arrowLink {
    text-decoration: none;
    color: black;
    width: 27px;
    height: 60px;
    object-fit: contain;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
}

.portfolio_line {
    height: 1px;
    background: #E6E6E6;
    margin: 0 0 20px;
}