.container__techs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 100px 70px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.tittle__techs {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: auto;
    padding: 20px 0 26px 0;
}

.subtittle__techs {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    padding-bottom: 100px;
    text-align: center;
}

.gridContainer__techs {
    display: grid;
    width: 100%;
    max-width: 690px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 60px;
    grid-auto-rows: 60px;
    column-gap: 10px;
    margin: 0 auto;
    padding: 0;
}

.grid__text_techs {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background: #E8E8E8;
    border-radius: 10px;
}

@media (max-width: 1023px) {
    .container__techs {
        padding: 100px 50px;
    }
}

@media (max-width: 580px) {
    .container__techs {
        padding: 60px 14px 70px;
    }
    .tittle__techs {
        font-size: 30px;
        line-height: 36px;
    }
    .subtittle__techs {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 50px;
    }
    .gridContainer__techs {
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: 57px;
        grid-auto-rows: 57px;
        gap: 10px;
        justify-content: center;
    }
}

