.promo_container {
    margin: 0;
    padding: 0 70px 60px 70px;
    background-color: #DDDEE3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo_logo {
    width: 722px;
    height: 244px;
    align-self: flex-end;
}

.promo_text {
    margin: 0 0 100px 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}