.searchForm__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 80px 70px 50px 70px;
}

.searchForm__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px 28px 0;
}

.searchForm__input {
    background: #F4F4F4;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin-right: 10px;
    border: none;
    font-style: normal;

}

.searchForm__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
    padding-left: 20px;
}

.searchForm__submitButton {
    width: 44px;
    height: 44px;
    background: #3456F3;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-image: url(../../images/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
}