.movies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* margin: 0; */
    /* padding: 0 70px; */
    background: #FAFAFA;;
    /* box-sizing: border-box; */
}